.new-checklist {
  padding-bottom: 10px;
}

.new-checklist .add {
  display: block;
  position: static;
  height: 20px;
  width: 20px;
  padding: 0;
  font-size: 20px;
  line-height: 1;
  text-align: center;
  cursor: pointer;
  border: 1px solid black;
  border-radius: 3px;
  background-color: transparent;
  color: rgb(99, 79, 79)
}

.new-checklist .add:disabled {
  display: none;
}