.checklist-form {
  padding-bottom: 10px;
  display: flex;
  flex-wrap: wrap;
}

.checklist-form .add {
  display: block;
  height: 20px;
  width: 20px;
  font-size: 18px;
  line-height: 1;
  text-align: center;
  font-weight: lighter;
  cursor: pointer;
  border: 1px solid black;
  border-radius: 3px;
  background-color: transparent;
  margin: 5px 200px 5px 0;
  
}
.checklist-form .add:disabled {
  display: none;
}

.checklist-form .cancel {
  display: none;
  color: #555;
  border: 1px solid rgba(21,21,21,0.2);
  cursor: pointer;
  border-radius: 3px;
  font-weight: bold;
}

.checklist-form.edit .save {
  position: relative;
  order: 100;
  margin-left: auto;
}

.checklist-form.edit .cancel {
  display: block;
  background-color: transparent;
}

.checklist-form.edit .save, .checklist-form.edit .cancel {
  width: calc(50% - 5px);
  margin-top: 10px;
}
