.checklist-form .checklist-form-item {
  width: 100%;
  margin-bottom: 7px;
  display: flex;
  align-items: center;
  min-height: 35px;
  height: auto;
}

.checklist-form .checklist-form-item:last-of-type {
  margin-bottom: 15px;
}

.checklist-form .checklist-form-item textarea {
  padding: 8px;
  padding-right: 45px;
  height: 35px;
  width: 100%;
  border-radius: 3px;
}
