.new-checklist .checklist-item {
  margin-bottom: 5px;
  display: flex;
  align-items: center;
  height: auto;
}

.new-checklist .checklist-item:last-of-type {
  margin-bottom: 10px;
}

.new-checklist .checklist-item textarea {
  padding: 8px;
  padding-right: 45px;
  height: 35px;
  width: 100%;
  border-radius: 3px;
}
