.edit-form {
  display: none;
  flex-wrap: wrap;
  width: 100%;
  padding: 10px 0;
  background-color: white;
  justify-content: space-between;
  align-content: flex-start;
}

.show-form .edit-form {
  display: flex;
}

.edit-form textarea {
  font-size: 14px;
  margin-bottom: 10px;
  width: 100%;
  padding: 10px;
  resize: none;
  border-radius: 3px;
  font-family: inherit;
  border: 1px solid rgba(21,21,21,0.2);
}

.edit-form textarea:focus {
  outline: none;
  border: 1px solid black;
}

.edit-form button {
  width: calc(50% - 7.5px);
  height: 34px;
  border-radius: 3px;
  font-weight: bold;
}

.edit-form button:first-of-type {
  color: #555;
  border: 1px solid rgba(21,21,21,0.2);
  background-color: white;
}