.menu-item {
  display: flex;
  align-items: center;
  height: 44px;
  font-size: 14px;
  color: #C7C7C7;
  position: relative;
  padding-top: 2px;
}

.active.menu-item  {
  color: #28ce63;
  background: #252529
}

.menu-item .material-icons {
  font-size: 28px;
  padding: 0 11px;
  width: 50px;
  margin-top: -1px;
}

.menu-item .quantity {
  display: inline-block;
  position: absolute;
  left: 25px;
  top: 4px;
  font-size: 12px;
  font-weight: bold;
  padding: 3px;
  border-radius: 50%;
  min-width: 18px;
  min-height: 18px;
  text-align: center;
  background: #E9E9EA;
  color: #5C5C5C
}

