.menu {
  background: #2C2D32;
  height: 100%;  
  z-index: 101;
}

@media (max-width: 768px) {
  .menu {
    width: 320px;
    position: absolute;
    transform: translateX(-320px);
    transition: transform 0.15s ease-in-out;
  }

  .menu.open {
    transform: translateX(0);
  } 
}

@media (min-width: 768px) {
  .menu {
    min-width: 270px;
  }
}

