.edit-mode .task .completion-toggler {
  display: none;
}

.completion-toggler {
  height: 28px;
  width: 28px;
  font-size: 24px;
  font-weight: bold;
  border-radius: 50%;
  border: 1.3px #C7C7C7 solid;
  margin-right: 10px;
  color: #C7C7C7;
  flex-shrink: 0;
  cursor: pointer;
}

.completion-toggler .tick {
  z-index: -1;
  margin-left: 3px;
  margin-top: -3px;
  display: block;
}

.active .completion-toggler {
  border-color: #646464;
}

.active.completed .completion-toggler {
  border-color: #ACACAC;
  color: #ACACAC;
}
