.edit-mode .task .completion {
  display: none;
}

.toggler {
  height: 28px;
  width: 28px;
  font-size: 28px;
  font-weight: bold;
  border-radius: 50%;
  border: 1.3px #C7C7C7 solid;
  margin-right: 10px;
  color: #C7C7C7;
  flex-shrink: 0;
  cursor: pointer;
}

.toggler .tick {
  z-index: -1;
  margin-left: 1px;
  display: block;
  margin-top: -2px;
}

.active .toggler {
  border-color: #646464;
}

.active.completed .toggler {
  border-color: #ACACAC;
  color: #ACACAC;
}
