.task-details-navbar {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 43px;
  border-top: 1px solid #ccc;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background: #FAFAFA;
  padding-right: 14px;
}

.task-details-navbar button {
  height: 35px;
  border: 0;
  outline: none;
  background-color: transparent;
  cursor: pointer;
}

.task-details-navbar button .material-icons {
  font-size: 35px;
  color: inherit;
}

.task-details-navbar > .material-icons:first-of-type {
  border-right: 2px solid black;
}

.task-details-navbar button:disabled {
  opacity: .2;
  cursor: not-allowed;
}

.prev {
  margin-left: 30px;
}

.next {
  margin-right: 30px;
}