.task-details-navbar {
  bottom: 0;
  width: 100%;
  height: 43px;
  border-top: 1px solid #ccc;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
  background: #FAFAFA;
  padding-right: 14px;
}

.task-details-navbar button {
  height: 35px;
  border: 0;
  outline: none;
  background-color: transparent;
}

.task-details-navbar .material-icons {
  cursor: pointer;
  line-height: 1;
}

.task-details-navbar button .material-icons {
  font-size: 35px;
  color: inherit;
  cursor: pointer;
}

.task-details-navbar > .material-icons {
  padding: 4px 3px;
  height: 32px;
  width: 30px;
}

.task-details-navbar > .material-icons:first-of-type {
  position: relative;
}

.task-details-navbar > .material-icons:first-of-type::after {
  position: absolute;
  top: 6px;
  left: 26px;
  z-index: 10;
  content: "";
  display: block;
  height: 20px;
  width: 2px;
  background-color: black;
}

.task-details-navbar button:disabled .material-icons  {
  opacity: .2;
  cursor: not-allowed;
}

.prev {
  margin-left: 30px;
}

.next {
  margin-right: 30px;
}