.menu-item {
  display: block;
  height: 44px;
  font-size: 14px;
  color: #C7C7C7;
  position: relative;
}

.active.menu-item  {
  color: #28ce63;
  background: #252529
}

.menu-item .material-icons {
  display: inline-block;
  padding: 8px 10px;
  margin-bottom: -17px;
  font-size: 28px;
}

.menu-item .amount {
  display: inline-block;
  box-sizing: border-box;
  position: absolute;
  left: 24px;
  top: 5px;
  font-size: 12px;
  font-weight: bold;
  padding: 3px;
  border-radius: 50%;
  min-width: 18px;
  min-height: 18px;
  text-align: center;
  background: #E9E9EA;
  color: #5C5C5C
}

