.toolbar {
  position: relative;
  z-index: 100;
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  display: flex;
  height: 43px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(21,21,21,0.2);
  background-color: grey;
}

.toolbar p {
  margin: 0;
  cursor: default;
}

.menu-icon, .info-icon {
  cursor: pointer;
}

.toolbar .material-icons {
  font-size: 28px;
}

.sync-icon {
  display: none;
  transform: scaleX(-1) rotate(110deg);
}

@media (min-width: 734px) {
  .menu-icon {
    display: none;
  }
  .sync-icon {
    display: block;
  }
}