.toolbar {
  width: 100vw;
  box-sizing: border-box;
  padding: 10px 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(21,21,21,0.2);
}

.toolbar p {
  margin: 0;
}

.toolbar .material-icons {
  font-size: 28px;
}

.sync-icon {
  display: none;
}

@media (min-width: 734px) {
  .menu-icon {
    display: none;
  }
  .sync-icon {
    display: block;
  }
}