.toolbar {
  position: relative;
  z-index: 100;
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  display: flex;
  height: 43px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(21,21,21,0.2);
  background: #FAFAFA;
}

.toolbar .close {
  background: #28ce63;
  border: 1px solid rgba(21,21,21,0.1);
  color: #fff;
  display: block;
  width: 67px;
  height: 31px;
  font-weight: bold;
  top: 6px;
  right: 10px;
  z-index: 100;
  border-radius: 3px;
}

.toolbar p {
  margin: 0;
  cursor: default;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-weight: bold;
  font-size: 14px;
  text-align: center
}

.toolbar p span {
  font-weight: 400;
  font-size: 12px;
  opacity: .5;
}

.toolbar input {
  display: inline-block;
  margin-right: 22px;
}

.toolbar div {
  font-weight: 400;
  display: flex;
  align-items: center;
}

.menu-icon, .info-icon {
  cursor: pointer;
}

.toolbar .material-icons {
  font-size: 28px;
}

.sync-icon {
  display: none;
  transform: scaleX(-1) rotate(110deg);
}

@media (min-width: 734px) {
  .menu-icon {
    display: none;
  }
  .sync-icon {
    display: block;
  }
}