.new-comment {
  position: relative;
  padding-top: 10px;
  background-color: #F4F4F4;
  margin-bottom: 20px;
}

.new-comment textarea {
  width: 100%;
  min-height: 80px;
  padding: 10px;
  border-radius: 3px;
  resize: none;
  font-family: inherit;
}

.new-comment textarea:focus {
  outline: none;
  border: 1px solid black;
  line-height: 1;
  min-height: 110px;
}

.new-comment .type-icon {
  position: absolute;
  top: 24px;
  min-height: 22px;
  color: #151515;
  font-size: 20px;
  cursor: pointer;
}

.new-comment .type-icon:first-of-type {
  right: 40px;
  font-size: 20px;
}

.new-comment .type-icon:last-of-type {
  right: 10px;
}


