.new-comment {
  position: relative;
  padding-top: 10px;
}

.new-comment textarea {
  width: 100%;
  min-height: 80px;
  padding: 10px;
  border-radius: 3px;
  resize: none;
  font-family: inherit;
}

.new-comment textarea:focus {
  outline: none;
  border: 1px solid black;
  line-height: 1;
  min-height: 110px;
}

.new-comment button {
  display: inline-block;
  height: 34px;
  color: white;
  border-radius: 4px;
  background-color: #28ce63;
  border: 1px solid rgba(21,21,21,0.1);
  padding: 8px 16px;
  outline: none;
  font-weight: bold;
  position: absolute;
  right: 0;
  cursor: pointer;
}

.new-comment .close {
  display: inline-block;
  position: absolute;
  top: 17px;
  left: 2px;
  font-size: 20px;
  color: #999;
  cursor: pointer;
}

.new-comment .new-comment-checklist {
  position: absolute;
  top: 58px;
  right: 10px;
  padding: 3px;
  color: #151515;
  font-size: 20px;
  cursor: pointer;
}