.task-details-content {
  flex-grow: 1;
  overflow-y: auto;
  overflow-x: hidden;
  position: relative;
}

.task-details-content > * {
  margin: 0 10px;
  width: calc(100% - 20px);
}


.task-details-content .test{
  background-color: red;
  height: 1000px;
}
