.task-details-attributes {
  min-height: 137px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;
}

.hide-attributes .task-details-attributes {
  display: none;
}

.task-details-attributes .picker {
  position: absolute;
  display: block;
  left: 50%;
  top: 10px;
  margin-left: -170px;
  width: 340px;
  background-color: white;
  box-shadow: 0 3px 25px rgba(0, 0, 0, .2);
  border-radius: 5px;
  overflow: hidden;
  z-index: 10;
}

.task-details-attributes .picker-btn {
  background-color: white;
  display: flex;
  margin-bottom: 7px;
  border: 1px solid black;
  border-radius: 3px;
  width: calc(50% - 3px);
  min-height: 37px;
  padding: 5px 0 5px 10px;
  align-items: center;
  font-size: 14px;
  cursor: pointer;
}

.task-details-attributes .picker-btn.unchecked {
  background-color: #F4F4F4;
  color: #999;
  border-color: rgba(21,21,21,0.2);
}

.task-details-attributes .picker-btn .material-icons {
  font-size: 22px;
  margin-right: 7px;
}