.checklist-comment-item {
  display: flex;
  margin-bottom: 15px;
  font-size: 14px;
  align-items: center;
  height: 24px;
}

.checklist-comment-item:first-of-type {
  padding: 3px;
  background-color: rgb(244, 244, 244);
  border-radius: 5px;
  margin-left: -3px;
}

.checklist-comment-item:last-of-type {
  margin-bottom: 0;
}


.checklist-comment-item .stats {
  margin-left: auto;
}