.comment {
  background-color: white;
  margin-bottom: 10px;
  border: 1px solid rgba(21,21,21,0.2);
  border-radius: 3px;
}

.comment-body {
  padding: 20px 10px;
}

.comment .avatar {
  margin-right: 10px;
}