.edit-mode .task {
  cursor: default;
}

.task {
  height: 60px;
  border-bottom: 1px solid #dadada;
  display: flex;
  align-items: center;
  background-color: white;
  cursor: pointer;
  padding: 0 12px;
  user-select: none;
  position: relative;
}

.task.active {
  background-color: #DADADA;
}

.task.completed {
  background-color: #F9F9F9
}

.task p {
  font-size: 15px;
  margin-top: -2px;
  flex-grow: 1;
  white-space: nowrap; 
  overflow: hidden;
  text-overflow: ellipsis; 
  margin-right: 4px;
}

.task.active p {
  color: #151515;
}

.task.completed p {
  color: #848484;
}

.task input[type="checkbox"] {
  margin-right: 12px;
}

.task .handler {
  height: 42px;
  width: 42px;
  color: rgb(199, 199, 199);
  cursor: move;
  padding: 10px;
  margin-right: -11px;
  margin-left: 5px;
}