.project-link {
  display: flex;
  align-items: center;
  margin-right: 5px;
  margin-top: 16px;
  font-size: 12px;
  color: #B2B2B2;
  z-index: 3;
}

.project-link .material-icons {
  font-size: 15px;
}

.edit-mode .task-attributes {
  left: 84px;
}

.completed .task-attributes {
  color: #D3D3D3;
}

.active .task-attributes {
  color: #646464;
}

.active.completed .task-attributes {
  color: #ACACAC
}

.task-attributes {
  margin-top: 16px;
  font-size: 12px;
  color: #B2B2B2;
  display: flex;
  align-items: center;
}

.task-attributes > * {
  margin-right: 3px;
}

.task-attributes .text {
  padding-right: 7px;
}

.task-attributes .repeat {
  margin-top: -1.5px;
  margin-right: 7px;
}

.task-attributes .material-icons{
  font-size: 16px;
}

.task-attributes .comments-icon {
  padding-top: 1px;
}
