.comment .checklist-item {
  margin: 15px 10px;
}

.checklist-item {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  font-size: 14px;
  align-items: center;
  height: 24px;
  cursor: default;
}

.checklist-item.check-all {
  padding: 4px;
  background-color: rgb(244, 244, 244);
  border-radius: 5px;
  color: #8a8a8a;
  margin-left: 6px;
}

.checklist-item .stats {
  margin-left: auto;
}